

.tile-game {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	height:400px;
	width: 400px;
}

.tile-game div {
	background-color: lightblue;
}

#cell-1 {
	grid-row-start: 1;
	grid-column-start: 1;
}

#cell-2 {
	grid-row-start: 1;
	grid-column-start: 2;
}

#cell-3 {
	grid-row-start: 1;
	grid-column-start: 3;
}

#cell-4 {
	grid-row-start: 1;
	grid-column-start: 4;
}

#cell-5 {
	grid-row-start: 2;
	grid-column-start: 1;
}

#cell-6 {
	grid-row-start: 2;
	grid-column-start: 2;
}

#cell-7 {
	grid-row-start: 2;
	grid-column-start: 3;
}

#cell-8 {
	grid-row-start: 2;
	grid-column-start: 4;
}

#cell-9 {
	grid-row-start: 3;
	grid-column-start: 1;
}

#cell-10 {
	grid-row-start: 3;
	grid-column-start: 2;
}

#cell-11 {
	grid-row-start: 3;
	grid-column-start: 3;
}

#cell-12 {
	grid-row-start: 3;
	grid-column-start: 4;
}

#cell-13 {
	grid-row-start: 4;
	grid-column-start: 1;
}

#cell-14 {
	grid-row-start: 4;
	grid-column-start: 2;
}

#cell-15 {
	grid-row-start: 4;
	grid-column-start: 3;
}